@rendermode InteractiveServer
@inject IProductsReadHttpService _readProductsClient

<div class="card border-primary">

    <div class="card-header text-center bg-primary text-light">
        <h4><b>READ SIDE STOREFRONT PRODUCTS</b></h4>
    </div>
    @* <div class="card-header bg-primary text-light">
        <div class="row mt-2">
            <div class="col-2">
                <label for="namefilter">Name Filter:</label>
                <input id="namefilter" type="text" @bind="_nameFilter" @bind:after="RefreshData" />
            </div>
            <div class="col-2">
                <label for="categoryfilter">Category Filter:</label>
                <input id="categoryfilter" type="text" @bind="_categoryFilter" @bind:after="RefreshData" />
            </div>
            <div class="col-2">
                <label for="sortcolumn">Sort Column:</label>
                <input id="sortcolumn" type="text" @bind="_sortColumn" @bind:after="RefreshData" />
            </div>
            <div class="col-2">
                <label for="pagesize">Page Size:</label>
                <input id="pagesize" type="number" @bind="_pageSize" @bind:after="RefreshData" />
            </div>
            <div class="col-2">
                <a class="btn btn-sm btn-warning form-control mt-4" @onclick="ClearFilters">Reset</a>
            </div>
            
        </div>
    </div> *@

    <div class="card-body">
        <div class="row">
            <div class="col-12">

                @if (ProductSummaries is not null)
                {
                    <table class="table table-sm table-bordered text-center">
                        <thead class="bg-primary text-light">
                            <tr>
                                <th>Id</th>
                                <th>Aggregate Id</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Price</th>
                                <th>Currency</th>
                                <th>Status</th>
                                <th>Images</th>
                                <th>Docs</th>
                                <th>Ver</th>
                                <th>On Hand</th>
                                <th>Allocated</th>
                                <th>Available</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var product in ProductSummaries)
                            {
                                <tr>
                                    <td>@product.Id</td>
                                    <td>@product.AggregateId.ToString()[0..8]-...</td>
                                    <td>@product.Name</td>
                                    <td>@product.Category</td>
                                    <td>@product.Price</td>
                                    <td>@product.Currency</td>
                                    <td>@product.Status</td>
                                    <td>@product.ImageCount</td>
                                    <td>@product.DocumentCount</td>
                                    <td>@product.Version</td>
                                    <td>@product.QuantityOnHand</td>
                                    <td>@product.QuantityAllocated</td>
                                    <td>@product.QuantityAvailable</td>
                                    <td>
                                        <a class="btn btn-primary" @onclick="() => Detail(product.AggregateId)">Detail</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {

                }
            </div>
        </div>

        <div class="row m2">
            @if (PagingData is not null)
            {
                <div class="col-2 offset-2">
                    <span class="text-primary">Page @PagingData.CurrentPage of @PagingData.TotalPageCount</span>
                </div>
                <div class="col-1">
                    <a class="btn btn-sm btn-primary form-control" @onclick="PageBackward">Back</a>
                </div>
                <div class="col-1">
                    <a class="btn btn-sm btn-primary form-control" @onclick="PageForward">Fwd</a>
                </div>
                <div class="col-2 offset-1">
                    <span class="text-primary">Page Size: @PagingData.PageSize</span>
                </div>
                <div class="col-2">
                    <span class="text-primary">Total Items: @PagingData.TotalItemCount</span>
                </div>
            }
        </div>

        

    </div>

    <div class="card-footer text-center bg-primary text-light">
        <h5><b><i>Be good to your pets!</i></b></h5>
    </div>
</div>

@code {

    [CascadingParameter(Name = "Products")]
    public List<ProductSummaryDTO>? ProductSummaries { get; set; }
    [CascadingParameter(Name = "PagingData")]
    public PaginationMetadata? PagingData { get; set; }

    [Parameter]
    public EventCallback PageForwardCallback { get; set; }
    [Parameter]
    public EventCallback PageBackwardCallback { get; set; }
    [Parameter]
    public EventCallback<Guid> DetailCallback { get; set; }
    

    private async Task PageForward()
    {
        if (PageForwardCallback.HasDelegate)
        {
            await PageForwardCallback.InvokeAsync();
        }
    }

    private async Task PageBackward()
    {
        if (PageBackwardCallback.HasDelegate)
        {
            await PageBackwardCallback.InvokeAsync();
        }
    }

    private async Task Detail(Guid productId)
    {
        if (DetailCallback.HasDelegate)
        {
            await DetailCallback.InvokeAsync(productId);
        }
    }

    
    // private string? _nameFilter = null;
    // private string? _categoryFilter = null;
    // private string? _sortColumn = "Name";
    // private int _pageNumber = 1;
    // private int _pageSize = 10;
    
    // private int _productSummaryCount;

    // private async Task ClearFilters()
    // {
    //     _nameFilter = null;
    //     _categoryFilter = null;
    //     _sortColumn = null;
    //     _pageSize = 10;
    //     await RefreshData();
    // }

    // private async Task PageForward()
    // {
    //     if (PagingData is null || _pageNumber >= PagingData.TotalPageCount) return;
    //     _pageNumber = _pageNumber + 1;
    //     await RefreshData();
    // }

    // private async Task PageBackward()
    // {
    //     if (_pageNumber <= 1) return;
    //     _pageNumber = _pageNumber - 1;
    //     await RefreshData();
    // }

    // private async Task RefreshData()
    // {
    //     var pagedProductSummariesResult = await _readProductsClient.GetPagedAndFilteredProductSummariesAsync(_nameFilter, _categoryFilter, _sortColumn, _pageNumber, _pageSize);
    //     if (pagedProductSummariesResult.IsSuccess)
    //     {
    //         if (pagedProductSummariesResult.Products is not null && pagedProductSummariesResult.Products.Any())
    //         {
    //             ProductSummaries = pagedProductSummariesResult.Products.ToList();
    //             PagingData = pagedProductSummariesResult.PagingData;
    //             _productSummaryCount = ProductSummaries.Count;
    //         }
    //     }
    //     else Console.WriteLine(pagedProductSummariesResult.ErrorMessage);
    // }


    // protected override async Task OnAfterRenderAsync(bool isFirstRender)
    // {
    //     if (isFirstRender)
    //     {
    //         var pagedProductSummariesResult = await _readProductsClient.GetPagedAndFilteredProductSummariesAsync(_nameFilter, _categoryFilter, _sortColumn, _pageNumber, _pageSize);
    //         if (pagedProductSummariesResult.IsSuccess)
    //         {
    //             if (pagedProductSummariesResult.Products is not null && pagedProductSummariesResult.Products.Any())
    //             {
    //                 ProductSummaries = pagedProductSummariesResult.Products.ToList();
    //                 PagingData = pagedProductSummariesResult.PagingData;
    //                 _productSummaryCount = ProductSummaries.Count;
    //             }
    //         }
    //         else Console.WriteLine(pagedProductSummariesResult.ErrorMessage);
    //         this.StateHasChanged();
    //     }
    // }
}
